*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: rgb(240, 240, 240);
    --dark-color:  #222222;
    --secondary-color: #27689d;
    --light-background: rgb(237, 237, 237);
}

 body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255, 252, 252);
    position: relative;
    line-height: 1.4rem;
    background: rgb(255, 252, 252);
    background: linear-gradient(
        0deg,
        rgba(255, 252, 252, 1) 20%,
        rgb(195, 198, 199) 70%,
        rgb(142, 142, 143) 92%
    );
} 

header{
    width: 100%;
    height: 15rem;
}

header .diagonal-background {
    width: 55rem;
    height: 20rem; 
    background: linear-gradient(-20deg, transparent 50%, var(--dark-color) 50%);   
  }

header #portfolioByAboutMe{
    color: var(--primary-text-color);
    font-family: Dancing Script, Arial, Helvetica, sans-serif;
    padding-left: 1rem;
    line-height: 4rem;

}

header .my-name{
    font-family: Dancing Script, Arial, Helvetica, sans-serif;
    line-height: 4rem;
    font-size: 4rem;
    color: var(--secondary-color);
    margin-left: 2.5rem;
    text-decoration:none;
    transition: color 0.3s ease, font-size 0.3s ease;
}

header .my-name:hover{
    color:white;
    font-size: 4.5rem;
}

.togglerDiv{
    text-align: right; 
    margin-left: 80rem;
}

#languageToggler{
    margin-left: 2rem;
    margin-top: 0.5rem;
    height: 2rem;
    width: 4rem;
    color: var(--secondary-color);
    border: none;
    border-radius: 2px;
    transition: font-size 0.3s ease, width 0.3s ease;
}

main .about-me-container{
    margin:auto;
    margin-top:6rem;
    margin-bottom: 4rem;
    display:flex;
    justify-content:center;
    flex-direction: column;
    text-align:center;
    width: 35rem;
    height:50rem;
    background-color: white;
    border-radius: 2px;
    box-shadow: 2px 2px 10px grey;
    padding:2rem
}

main .text1{
    margin-top: 4rem;
    font-size: 14px;
    text-align:center;
    padding-bottom:1rem;
}

main .text2{
    margin-top: 1rem;
    font-size: 14px;
    text-align:center;
    padding-bottom:1rem;
}

main .text3{
    margin-top: 1rem;
    font-size: 14px;
    text-align:center;
    padding-bottom:1rem;
}

main .arrow-icon{
    display:flex;
    flex-direction: center;
    align-items:center;
    margin:auto;
    text-decoration: none;
    width:1rem;
    font-size: 20px;
    color: var(--dark-color);
    transition: color 0.3s ease, font-size 0.3s ease;
}

main .arrow-icon:hover{
    color: var(--secondary-color);
    font-size:24px;
}

footer{
    margin-bottom:0;
    margin: auto; 
    width: 100%;
    height: 300px;
    line-height: 3rem;
    min-height: 100px;
    background-color:#2C2C2C;
    padding: 20px 10px 20px 10px;
    background-color: var(--dark-color);    
}

.footer-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align:center;
    margin:auto;
}

footer h3.get-in-touch{
    color:white;
}

footer a.linkedin{
    margin:auto;
    display:flex;
    justify-content:center;
    align-items: center;
    width:1.5rem;
    height:1,5rem;
    text-decoration: none;
    color:white;
    background-color:#27689d;
    padding:2px;
    border-radius:2px;
    font-size: 1,5rem;
    margin: 1rem;
}

footer a.cv{
    color:rgb(22, 22, 22);
    font-size:bold;
    text-decoration:none;
    background-color: rgb(201, 131, 2);
    border-radius:2px;
    height:1.5rem;
    width:1.5rem;
    padding:2px;  
}

footer .fa-github{
    color:white;
    font-size: 1.5rem;
}

footer a.email-me{
    margin:auto;
    display:flex;
    justify-content:center;
    align-items: center;
    color:rgb(220, 220, 220);
    width:1.5rem;
    height:1,5rem;
    font-size: 12px;
    text-decoration:none;
}


@media (max-width: 610px){

    header{
        height:10rem;
        width: 100%;
    }

    header .diagonal-background { 
        height:10rem;
        width: 100%;
        background-color: var(--dark-color);
    }

    header .my-name{
        font-size: 3rem;
    }

    header .my-name:hover{
        color:white;
        font-size: 3.8rem;
    }
    
    .togglerDiv{ 
        margin-top: 2rem;
        margin-left: 0rem;
        margin-right: 1rem;
    }

    main .about-me-container{
        width: 20rem;
        height:80rem;
        padding:2rem
    }
}