*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --secondary-color: #bda68c;
    --dark-color:  #222222;
    --primary-color:  #423c28;
    --light-background: rgb(158, 154, 154);
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    position: relative;
    background-image: url('/images/texture-img.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
} 

header{
    width: 100%;
    height: 15rem;
}

header .header-background{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

header #portfolioByAboutMe{
    color: var(--secondary-color);
    font-family: Dancing Script, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    padding-left: 1.5rem;
    margin-top: 1rem;
}

header .my-name{
    font-family: Dancing Script, Arial, Helvetica, sans-serif;
    line-height: 4rem;
    font-size: 3.2rem;
    color: var(--primary-color);
    margin-left: 2.5rem;
    text-decoration:none;
    transition: color 0.3s ease, font-size 0.3s ease;
}

header .my-name:hover{
    color:var(--secondary-color);
    font-size: 3.25rem;
}

header .togglerDiv{
    padding-top:2rem;
    padding-right:2rem;
}

header #languageToggler{
    height: 2rem;
    width: 6rem;
    font-size:0.8rem;
    color: var(--primary-color);
    background-color:none;
    border: none;
    border-radius: 0.1rem;
    transition: font-size 0.3s ease, width 0.3s ease;
    cursor:pointer;
}

header #languageToggler:hover{
    width: 6.2rem;
    font-size: 13px;
}

main .about-me-container{
    display:flex;
    justify-content:center;
    flex-direction: column;
    text-align:center;
    align-items:center;
    margin:auto;
    margin-top:2rem;
    margin-bottom: 4rem;
    width: 40%;
    background-color: rgb(234, 234, 234);
    border-radius: 2px;
    box-shadow: 2px 2px 10px grey;
    padding:2rem
}

main .text1,
.text2,
.text3{
    margin-top: 3rem;
    font-size: 1rem;
    line-height:1.5rem;
    text-align:center;
    padding-bottom:1rem;
}

main .arrow-icon{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--dark-color);
    transition: color 0.3s ease, font-size 0.3s ease;
}

main .arrow-icon:hover{
    color: var(--primary-color);
    font-size:1.6rem;;
}

footer{
    margin: auto; 
    width: 100%;
    height: 20rem;
    line-height: 3rem;
    background-color:#2C2C2C;
    padding: 1.5rem 1.4rem;
    background-color: var(--dark-color);    
}

.footer-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align:center;
    margin:auto;
}

footer h3.get-in-touch{
    color:white;
}

footer a.linkedin{
    margin:auto;
    display:flex;
    justify-content:center;
    align-items: center;
    width:1.5rem;
    height:1,5rem;
    text-decoration: none;
    color:white;
    background-color:#27689d;
    padding:0.1rem;
    border-radius:2px;
    font-size: 1,5rem;
    margin: 1rem;
}

footer a.cv{
    color:rgb(22, 22, 22);
    font-size:bold;
    text-decoration:none;
    background-color: rgb(201, 131, 2);
    border-radius:0.1rem;
    height:1.5rem;
    width:1.5rem;
    padding:0.2rem;  
}

footer .fa-github{
    color:white;
    font-size: 1.5rem;
}

footer a.email-me{
    margin:auto;
    display:flex;
    justify-content:center;
    align-items: center;
    color:rgb(220, 220, 220);
    width:1.5rem;
    height:1,5rem;
    font-size: 0.8rem;
    text-decoration:none;
}


@media (max-width: 610px){

    header{
        height:10rem;
        width: 100%;
    }

    header #portfolioByAboutMe{
        font-size: 1.5rem;
    }

    header .my-name{
        font-size: 2rem;
    }

    header .my-name:hover{
        font-size: 2.1rem;
    }

    main .about-me-container{
        width: 90%;
    } 
}