*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --secondary-color: #bda68c;
    --dark-color:  #222222;
    --primary-color:  #423c28;
    --light-background: rgb(158, 154, 154);
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    position: relative;
    background-image: url('../images/texture-img.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
} 

header{
    width: 100%;
    height: 6rem;
}

header .header-background{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

header #portfolioByAboutMe{
    color: var(--secondary-color);
    font-family: Dancing Script, Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    padding-left: 1.5rem;
    margin-top: 1rem;
}

header .my-name{
    font-family: Dancing Script, Arial, Helvetica, sans-serif;
    line-height: 4rem;
    font-size: 3.2rem;
    color: var(--primary-color);
    margin-left: 2.5rem;
    text-decoration:none;
    transition: color 0.3s ease, font-size 0.3s ease;
}

header .my-name:hover{
    color:var(--secondary-color);
    font-size: 3.25rem;
}

header .togglerDiv{
    padding-top:2rem;
    padding-right:2rem;
}

header #languageToggler{
     background-color: rgb(214, 214, 214);
    height: 2rem;
    width: 6rem;
    font-size:0.8rem;
    color: var(--primary-color);
    background-color:none;
    border: none;
    border-radius: 0.1rem;
    transition: font-size 0.3s ease, width 0.3s ease;
    cursor:pointer;
}

header #languageToggler:hover{
    width: 6.2rem;
    font-size: 13px;
}

main .arrow-icon-container{
    padding: 2rem;
}

main .arrow-icon{
    font-size: 1.8rem;
    color: var(--dark-color);
    transition: color 0.3s ease;
}

main .arrow-icon:hover{
    color: var(--primary-color);

}

main .image-and-info-container{
    max-width: 50%;
    padding: 2rem;
    background-color: rgb(213, 213, 213);
    box-shadow: 2px 2px 10px grey;
    border-radius: 10px;
    margin:auto;
    margin-bottom: 2rem;
}

#coverLetter{
    text-align: center;
    padding-bottom:1rem;
}

main .image-and-info{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 85%;
    align-items:center;
    text-align:center;
    margin:auto;
}

main .image-and-info img{
    max-width:12rem;
    height: auto;
    border-radius: 5px;
}

main .image-and-info ul{
    list-style-type: none;
    line-height: 1.5rem;
    text-align: left;
    font-weight: 300;
}

main .about-me-tabs{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 300;
    max-width: 80%;
    text-align: center;
    align-items:center;
    margin:auto;
    padding:1rem;
}

main .about-me-tabs .tab-link{
    color: black;
    text-decoration: none;
}

main .about-me-tabs .tab-link.active{
    border-bottom: 1px solid black;
}



.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block; 
}

main .about-me-card{
    max-width: 50%;
    padding: 2rem;
    margin:auto;
    margin-bottom: 2rem;
}

main .text1,
.text2,
.text3{
    margin-top: 1rem;
    font-size: 1rem;
    line-height:1.5rem;
    text-align:center;
    padding-bottom:1rem;
    font-weight: 300;
}

main #takenCourseH4{
    padding-bottom: 1rem;
}

.taken-courses-ul{
    list-style-type: none;
    line-height: 1.6rem;
    text-align: left;
    padding-bottom: 1rem;
    font-weight: 300;
}

.taken-courses-li{
    padding-left:0.8rem;
}

footer{
    margin: auto; 
    width: 100%;
    height: 20rem;
    line-height: 3rem;
    background-color:#2C2C2C;
    padding: 1.5rem 1.4rem;
    background-color: var(--dark-color);    
}

.footer-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align:center;
    margin:auto;
}

footer h3.get-in-touch{
    color:white;
}

footer a.linkedin{
    margin:auto;
    display:flex;
    justify-content:center;
    align-items: center;
    width:1.5rem;
    height:1,5rem;
    text-decoration: none;
    color:white;
    background-color:#27689d;
    padding:0.1rem;
    border-radius:2px;
    font-size: 1,5rem;
    margin: 1rem;
}

footer a.cv{
    color:rgb(22, 22, 22);
    font-size:bold;
    text-decoration:none;
    background-color: rgb(201, 131, 2);
    border-radius:0.1rem;
    height:1.5rem;
    width:1.5rem;
    padding:0.2rem;  
}

footer .fa-github{
    color:white;
    font-size: 1.5rem;
}

footer a.email-me{
    margin:auto;
    display:flex;
    justify-content:center;
    align-items: center;
    color:rgb(220, 220, 220);
    width:1.5rem;
    height:1,5rem;
    font-size: 0.8rem;
    text-decoration:none;
}


@media (max-width: 610px){

    header{
        width: 100%;
    }

    header #portfolioByAboutMe{
        font-size: 1.5rem;
    }

    header .my-name{
        font-size: 2rem;
    }

    header .my-name:hover{
        font-size: 2.1rem;
    }

    main .image-and-info-container{
        max-width: 90%;
    }

    main .image-and-info{
        flex-direction: column;
    }

    main .about-me-tabs{
        max-width: 100%;
    }

    main .about-me-card{
        max-width: 90%;
    }

    main .image-and-info ul{
        margin-top: 1.5rem;
        text-align: center;
    }

    main .about-me-container{
        width: 90%;
    } 
}